body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

svg .map-item {
    fill: #4682b4;
    cursor: pointer;
}

svg .map-item.highlight {
    fill: #ff7f50;
}

svg text {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

.tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    pointer-events: none;
    font-size: 12px;
    color: #333;
}

#chart-bar, #chart-donut, #chart-stacked-bar {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.charts > div {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

svg {
    width: 100%;
    height: auto;
}


.local-item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.local-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.local-item.active {
    border: 2px solid #007bff;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}


#filter-options {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espaçamento entre os botões */
    margin-bottom: 1rem;
}

#filter-options label {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid #ccc; /* Borda cinza inicial */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color: white;
}

#filter-options input[type="radio"] {
    display: none; /* Esconde os inputs */
}

#filter-options input[type="radio"]:checked + label {
    border: 2px solid #007bff; /* Borda azul ao selecionar */
    transform: translateY(-2px); /* Elevação ao selecionar */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Sombra ao selecionar */
    color: #007bff; /* Texto azul ao selecionar */
    background-color: white; /* Fundo branco */
}

#filter-options label:hover {
    transform: translateY(-2px); /* Elevação leve ao passar o mouse */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-color: #007bff; /* Borda azul ao passar o mouse */
}

#population-pyramid {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filters-education {
    display: block;
    margin-top: 10px;
}

#gender-filters, #education-filters {
    margin-bottom: 15px;
}

#gender-filters label, #education-filters label {
    display: block;
    margin: 5px 0;
}

